<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4EDe_9K364prNoW8ZZrdIpZT9pYaELjs</string>
	<key>GCM_SENDER_ID</key>
	<string>477970832846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nearsy.app.client</string>
	<key>PROJECT_ID</key>
	<string>nearsy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nearsy-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477970832846:ios:4cbfb98ef01806dab7df9f</string>
</dict>
</plist>